:root {
    --default-margin-spacing: 30px 0;
    --default-grey-color: #797874;
    --body-font: 'Roboto', helvetica, sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);

}

/*NavBar*/
.nav{
    margin-top: 10px;

}
.nav__link{
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 20px;
}

/*Review Content*/

.all__reviews{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.reviews{
    width: 600px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
}

.title {
    margin: var(--default-margin-spacing);
    font-size: 44px;
    font-weight: bold;
}

.reviews__content {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.reviews__rating{
    font-size: 24px;
    margin-right: 20px;
}

/* Review stars*/

.reviews__stars {
    text-align: center;
}

.reviews__stars input{
    display: none;
    text-shadow: 1px 1px #bbb;
}

.reviews__stars label{
    float: right;
    font-size: 30px;
    color: lightgray;
}

.reviews__stars label:before{
    content: '★';
}

.reviews__stars input:checked ~ label {
    color: gold;
}

/* Review button */

.reviews__add{
    border-radius: 5px;
    border: 1px solid var(--default-grey-color);
    background: #fff;
    color: #bbbfc2;
    padding: 8px 12px;
    cursor: pointer;
}

.reviews__add a{
    text-decoration: none;
    color: var(--default-grey-color);
}

hr{
    margin: var(--default-margin-spacing);
}

/* Review details */

.reviews__title {
    font-size: 28px;
    font-style: normal;
    line-height: 33px;
    width: 105px;
    height: 33px;
    left: 0;
    top: 0;
}


.review__list div{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 2px;
}

.review__list div span{
    line-height: 4rem;
}

.review__list div span:nth-child(2){
    margin-left: 15px;
}
.review__desc{
    margin-left: 5px;
    color: #797874;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review__input{
    line-height: 33px;
    margin: 15px 0;
    border: 0;
    width: 80%;

}

.review__input:focus{
    outline: none;
}

/*Submit review*/
#submit__review{
    width: 200px;
}

/*Rating stars*/

.stars-outer{
    position: relative;
    display: inline-block;
}
.stars-inner{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.stars-outer::before{
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before{
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #f8ce0b;
}
